/* @import './base.css'; */

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
}

:root {
}

* {
  /* cursor: none; */
}

@font-face {
  font-family: raleway_f;
  src: url(../assets/font/Raleway-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: raleway_f;
  src: url(../assets/font/Raleway-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(to bottom, #000000, #FFA933); */
  background-color: #16162c;
  color: white;
  font-family: raleway_f, sans-serif;
  line-height: 1.55;
}

#cursor {
  pointer-events: none;
  .cursor-circle {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;

    circle {
      fill: #a18248;
    }
  }
}

